@import "breakpoints";
@import "media-queries";

/* Fonts */

$font-family: 'Montserrat', sans-serif;
$fw-normal: 400;
$fw-regular: 500;
$fw-semiBold: 600;
$fw-bold: 700;

/* Colors */

$color-main: #333333;
$color-dark: #000000;
$color-white: #ffffff;
$color-error: #ff4b55;
$color-aside: #ecfcff;

$color-indicator-gray: #747679;
$color-indicator-green: #63cc61;

$color-primary: #007bff;
$color-primary-hovered: #0056b3;
$color-primary-active: #004085;

$color-success: #28a745;
$color-success-hovered: #218838;
$color-success-active: #1e7e34;

$color-danger: #dc3545;
$color-danger-hovered: #c82333;
$color-danger-active: #bd2130;

$color-modal-overlay: rgba(0, 0, 0, 0.7);

$color-loader-from: hsl(200, 20%, 80%);
$color-loader-to: hsl(200, 20%, 95%);

$color-option: #878787;
$color-option-hover: #f7f7f7;
