.container {
  border: 1px solid $color-main;
  border-radius: 5px;
  width: 100%;
  max-width: 500px;
}

.title {
  font-size: 14px;
  font-weight: $fw-semiBold;
  line-height: 1.4em;

  @include laptop-h-view {
    font-size: 18px;
  }
}

.head {
  padding: 10px 14px;
  border-bottom: 1px solid $color-main;
  display: flex;
  justify-content: space-between;
  align-items: start;
}

.body {
  padding: 14px;
}

.link {
  color: currentColor;
}

.list {
  list-style: none;
  display: flex;
  flex-direction: column;
  row-gap: 12px;
}

.item {
  display: flex;
  flex-direction: column;
  row-gap: 10px;

  @include laptop-h-view {
    flex-direction: row;
    justify-content: space-between;
    column-gap: 20px;
  }

  &-info {
    display: flex;
    align-items: center;
    column-gap: 10px;
  }

  &-actions {
    display: flex;
    align-items: center;
    column-gap: 20px;
  }
}
