.container {
  display: flex;
  flex-direction: column;
  row-gap: 18px;
}

.item {
  height: 15px;
  width: 300px;

  @include laptop-v-view {
    width: 200px;
  }

  @include laptop-h-view {
    height: 19px;
  }

}

.mt-1 {
  margin-left: 20px;
}

.mt-2 {
  margin-left: 40px;
}
