.select {
  position: relative;
  display: flex;
  flex-direction: column;
  row-gap: 8px;
}

.hidden {
  display: none;
}

.field {
  padding: 5px 10px;
  border-radius: 5px;
  border: 1px solid $color-main;
}

.label {
}

.options {
  margin-top: -4px;
  padding: 10px 0;
  position: absolute;
  top: 100%;
  left: 0;
  right: 0;
  border: 1px solid $color-main;
  border-top: none;
  border-radius: 0 0 5px 5px;
  background-color: white;
  z-index: 1000;
}

.option {
  padding: 5px 10px;
  cursor: pointer;
  user-select: none;
  color: $color-option;

  &:hover {
    color: $color-main;
    background-color: $color-option-hover;
  }
}
